body {
	font:300 18px/1.5 "Montserrat",sans-serif;
	color:white;
	letter-spacing:0.01rem;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-rendering:optimizeLegibility;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
}
a,button {
	color:aqua;
	transition:0.2s all ease-in-out;
	-webkit-transition:0.2s all ease-in-out;
	outline:0;
}
h1,h2,h3,h4,h5,h6 {
	line-height:1.5;
	font-weight:300;
	margin:0 0 1.5rem;
}
h1 {
	font-size:250%;
	color=white;
}
h2 {
	font-size:150%;
	color=white;
}
h3 {
	font-size:175%;
}
h4 {
	font-size:125%;
}
h5 {
	font-size:100%;
	color=white;
}
}
h6 {
	font-size:80%;
}
p {
	line-height:1.5;
	font-weight:300;
	margin:0 0 1.5rem;
	color=white;
}
