
* {
	margin:0;
	padding:0;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


.cf:before,.cf:after {
	content:" ";
	display:table;
}
.cf:after {
	clear:both;
}
body {
	font:300 18px/1.5 "Montserrat",sans-serif;
	letter-spacing:0.01rem;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-rendering:optimizeLegibility;
}
a,button {
	transition:0.2s all ease-in-out;
	-webkit-transition:0.2s all ease-in-out;
	outline:0;
}
h1,h2,h3,h4,h5,h6 {
	line-height:1.5;
	font-weight:300;
	margin:0 0 1.5rem;
}
h1 {
	font-size:250%;
}
h2 {
	font-size:200%;
}
h3 {
	font-size:175%;
}
h4 {
	font-size:125%;
}
h5 {
	font-size:100%;
}
h6 {
	font-size:80%;
}
p {
	line-height:1.5;
	font-weight:300;
	margin:0 0 1.5rem;
}
button,input,select,textarea {
	font:300 16px/1.5 "Roboto",sans-serif;
	outline:0;
}
html,body {
	height:100%;
}
@-webkit-keyframes bounceInUp {
	from,60%,75%,90%,to {
				-webkit-animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);
				animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);
	}
	from {
				opacity:0;
				-webkit-transform:translate3d(0,3000px,0);
				transform:translate3d(0,3000px,0);
	}
	60% {
				opacity:1;
				-webkit-transform:translate3d(0,-20px,0);
				transform:translate3d(0,-20px,0);
	}
	75% {
				-webkit-transform:translate3d(0,10px,0);
				transform:translate3d(0,10px,0);
	}
	90% {
				-webkit-transform:translate3d(0,-5px,0);
				transform:translate3d(0,-5px,0);
	}
	to {
				-webkit-transform:translate3d(0,0,0);
				transform:translate3d(0,0,0);
	}
}
@keyframes bounceInUp {
	from,60%,75%,90%,to {
				-webkit-animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);
				animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);
	}
	from {
				opacity:0;
				-webkit-transform:translate3d(0,3000px,0);
				transform:translate3d(0,3000px,0);
	}
	60% {
				opacity:1;
				-webkit-transform:translate3d(0,-20px,0);
				transform:translate3d(0,-20px,0);
	}
	75% {
				-webkit-transform:translate3d(0,10px,0);
				transform:translate3d(0,10px,0);
	}
	90% {
				-webkit-transform:translate3d(0,-5px,0);
				transform:translate3d(0,-5px,0);
	}
	to {
				-webkit-transform:translate3d(0,0,0);
				transform:translate3d(0,0,0);
	}
}
@-webkit-keyframes zoomIn {
	from {
				opacity:0;
				-webkit-transform:scale3d(.3,.3,.3);
				transform:scale3d(.3,.3,.3);
	}
	50% {
				opacity:1;
	}
}
@keyframes zoomIn {
	from {
				opacity:0;
				-webkit-transform:scale3d(.3,.3,.3);
				transform:scale3d(.3,.3,.3);
	}
	50% {
				opacity:1;
	}
}
@-webkit-keyframes bounceIn {
	from,20%,40%,60%,80%,to {
				-webkit-animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);
				animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);
	}
	0% {
				opacity:0;
				-webkit-transform:scale3d(.3,.3,.3);
				transform:scale3d(.3,.3,.3);
	}
	20% {
				-webkit-transform:scale3d(1.1,1.1,1.1);
				transform:scale3d(1.1,1.1,1.1);
	}
	40% {
				-webkit-transform:scale3d(.9,.9,.9);
				transform:scale3d(.9,.9,.9);
	}
	60% {
				opacity:1;
				-webkit-transform:scale3d(1.03,1.03,1.03);
				transform:scale3d(1.03,1.03,1.03);
	}
	80% {
				-webkit-transform:scale3d(.97,.97,.97);
				transform:scale3d(.97,.97,.97);
	}
	to {
				opacity:1;
				-webkit-transform:scale3d(1,1,1);
				transform:scale3d(1,1,1);
	}
}
@keyframes bounceIn {
	from,20%,40%,60%,80%,to {
				-webkit-animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);
				animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);
	}
	0% {
				opacity:0;
				-webkit-transform:scale3d(.3,.3,.3);
				transform:scale3d(.3,.3,.3);
	}
	20% {
				-webkit-transform:scale3d(1.1,1.1,1.1);
				transform:scale3d(1.1,1.1,1.1);
	}
	40% {
				-webkit-transform:scale3d(.9,.9,.9);
				transform:scale3d(.9,.9,.9);
	}
	60% {
				opacity:1;
				-webkit-transform:scale3d(1.03,1.03,1.03);
				transform:scale3d(1.03,1.03,1.03);
	}
	80% {
				-webkit-transform:scale3d(.97,.97,.97);
				transform:scale3d(.97,.97,.97);
	}
	to {
				opacity:1;
				-webkit-transform:scale3d(1,1,1);
				transform:scale3d(1,1,1);
	}
}
