a {
	text-decoration: none;
}

.network-lines1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;
}
.counter {
  display: inline-block;
}

.hideme {
    opacity:0;
}


/*TEXT STYLES*/

.title {
	text-transform: uppercase;
    font-weight: 900;
    margin-bottom: -5px;
}

/*ANCHOR BOOKMARS*/

#results {
    position: absolute;
}

#howitworks {
    top: -200px;

}

#brands {
    position: absolute;
    top: -170px;
}

#about {
    position: absolute;
    top: -140px;
}

#top {
}

/*HEADER*/

.banner  {
    position: fixed;
    width: 100%;
    padding: 0 90px;
    height: 80px;
    z-index: 850;
    transition: 0.4s background-color ease-in-out;
    -webkit-transition: 0.4s background-color ease-in-out;
}

.banner h1 {
    float: left;
    font-size: 24px;
    color: #fff;
    line-height: 75px;
    margin-right: 20px;
}

.banner h1 img {
    width: 135px;
}

.nav-menu {
    color: #fff;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.primary-nav ul {
    list-style: none;
    float: left;
    font-size: .8em;
    text-transform: uppercase;
}

.primary-nav li {
    display: inline-block;
    line-height: 80px;
    padding: 0 1rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.primary-nav li:hover {
	opacity: .7;
}

.nav-contact-btn {
  	background-color: #ffffff;
    color: #2bb6b4;
    font-weight: 700;
    font-size: .7em;
    text-decoration: none;
    cursor: pointer;
    float: right;
    text-transform: uppercase;
    margin-top: 22px;
    padding: 8px 30px;
    border-radius: 3px;
}

.nav-contact-btn:hover {
	opacity: .7;
}

/**********************/

.viewport-container {
	height: 100vh;
	background: url(../images/us-map-01-03.png) no-repeat left;
	background-color: #35B5B4;
    background-size: cover;
}


.landing-centered {
	display:flex;
	justify-content:flex-start;
	align-items:center;
	height:100%;
}

.home-header {
	max-width:850px;
    width: 100%;
	margin:0 auto;
	text-align: center;
	padding: 40px;
	color: white;
    z-index: 801;
}

.home-header div {
    max-width: 560px;
    width: 100%;
    margin: 0 auto -20px;
    display: inline-block;
    padding: 10px;
}

.home-header h1 {
	margin-bottom: 0;
	font-size: 2.8em;
    color: #e6e6e6;
    float: left;
    margin-right: 10px;
}

.home-header img {
    float: left;
    margin-top: 20px;
    max-width: 350px;
    width: 100%;
}

.home-header span {
	font-weight: 700;
}

.home-header p {
	text-transform: uppercase;
	font-weight: 400;
    max-width: 800px;
    width: 100%;
}

#slogan {
    display: block;
}

#slogan-mobile {
    display: none;
}
.section-content {
	max-width:1280px;
	margin:0 auto;
}

/*1ST SECTION */

.screenshots-trap {

}

.screenshots-mobile {
    display: none;
}

.screenshots {
    z-index: 849;
    position: absolute;
    right: 50px;
    top: 0;
}

.screenshots img {
    width: 570px;
}

.first-section-a {
    background-color: #35B5B4;
    padding: 10% 0 5% 10%;
}

.slide0 {
    width: 40%;
    color: #ffffff;
    z-index: 801;
}

.first-section-b {
    padding: 5% 0 10% 10%;
}
.slide1  {
    width: 37%;
    color: #808080;
    z-index: 801;
}

.slide1 span {
    font-size: 1.5em;
    width: 80%;
    display: block;
    margin-bottom: -20px;
    line-height: 140%;
}

.slide1 p {
    color: #9e9e9e;
}

.first-section-c {
    padding: 5% 10% 15%;
}
.slide2 {
    color: #808080;
    z-index: 849;
}

.arrow-left {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    left: -10px;
    top: 35px;
}

.counter-widget {
    max-width: 700px;
    width: 100%;
    background-color: #44ACAD;
    border-radius: 20px;
    padding: 30px;
    margin: 0 auto 30px;
    display: table;
    box-shadow: 20px 20px 40px 0px rgba(162,158,158,0.50);
    background: url(../images/widget-background.png) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.total-candidates {
    line-height: 88px;
    padding-left: 25px;
    float: left;
    font-size: 3.1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: 10px;
    font-family: 'Oswald', sans-serif;
}

.widget-title {
    padding-left: 22px;
    float: right;
    width: 220px;
    background-color: white;
    border-radius: 0 10px 10px 0;
    height: 90px;
}

.widget-title p {
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 900;
    color: #44acad;
    font-size: 1.2em;
    margin-bottom: 0;
    margin-top: 14px;
}

.results-text {
    text-align: center;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 30px 55px;
    margin-top: 120px;
}

.results-text p {
    color: #9e9e9e;
    max-width: 800px;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 2px solid #dadada;
}

.results-icons-box h5 {
    font-size: 70%;
}
.results-icons-box img {
    width: 135px;

}

.results-icons-box ul {
    max-width: 1000px;
    list-style: none;
    margin: 20px auto 0;
    display: inline-block;
}

.results-icons-box li {
    float: left;
    margin-right: 25px;
    width: 230px;
}

.results-icons-box li:last-of-type {

    margin-right: 0px;
}



.howitworks-text {
    text-align: center;
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}

.howitworks-text p {
    color: #9e9e9e;
    max-width: 800px;
    margin: auto;
}

/*SLIDE 1*/



/*SLIDE 2 - COUNTER WIDGET*/

/*2ND SECTION*/

.second-section {
    color: #fff;
    background: url(../images/us-map.png) no-repeat center 100px;
      -webkit-background-size: 1200px;
      -moz-background-size: 1200px;
      -o-background-size: 1200px;
    background-size: 1200px;
    background-color: #35B5B4;
    padding: 15% 0;
}

/*SLIDE 3*/

.slide3 {
	max-width: 900px;
    width: 100%;
    display: table;
    margin: 0 auto;
    z-index: 849;
}

.slide3-a {
	width: 490px;
    text-align: right;
    float: left;
    display: inline-block;
}

.slide3-a p {
	color: #f2f2f2;

}

.slide3-b {
	float: right;
    width: 380px;
    display: inline-block;
    padding-top: 15px;
}

/*STATS PAST */
.stats {
    border-bottom: 3px solid #fff;
}

.stats span {
	font-size: 3.5em;
    font-weight: 900;
    /*font-family: Oswald;*/
    display: inline-block;

}

.stats p {
	text-align: right;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.1em;
    width: 60%;
    float: right;
    position: absolute;
    bottom: -7px;
    right: 5px;

}

/*SLIDE 4*/

.slide4 {
    text-align: center;
    margin: 150px auto 0;
    z-index: 849;
}

.slide4 ul {
	width: 100%;
    max-width: 1000px;
    list-style: none;
    margin: 20px auto;
    display: inline-block;
}

.slide4 li {
	float: left;
    margin-right: 10px;
    width: 90px;
    height: 140px;
}

.slide4 img {
    box-shadow: 0px 2px 4px 0px rgba(102,102,102,0.50);

}

.slide4 a {
	color: #ffffff;
	display: block;
	cursor: pointer;
}

.slide4 a:hover {
	opacity: .7;

}

.slide4 h5 {
	text-transform: uppercase;
	font-size: .6em;
	font-weight: 400;
	line-height: 120%;
    margin-bottom: 0;

}

/*3RD SECTION*/

.third-section {
    padding-bottom: 0;
    background: url(../images/network-bg.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-bottom: 1px solid #ececec;
      padding: 15% 10% 0;
}

/*SLIDE 5*/

.slide5 {
	text-align: center;
	color: #6D6D6D;
}

.slide5 p {
    max-width: 750px;
    width: 100%;
    margin: 0 auto 40px;
    color: #9e9e9e;
}

.brands-hireable {
	padding: 40px;
}

.brands-hireable img {
	width: 320px;
	max-width: 100%;
}

.brands-hireable a {
    display: inline-block;
    cursor: pointer;
}

.brands-hireable a:hover {
    opacity: .7;
}

.brands {

}

.brands img {
	width: 190px;
}

.brands a {
    display: inline-block;
    cursor: pointer;
}

.brands a:hover {
    opacity: .7;
}


.hireable-render {
	display: block;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

/*4TH SECTION*/

.fourth-section {
    z-index: 851;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgb(218, 218, 218) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgb(218, 218, 218)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgb(218, 218, 218) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgb(218, 218, 218) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgb(218, 218, 218) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgb(218, 218, 218) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    padding: 15% 10%;
}

/*SLIDE 6 */

.slide6 {
	max-width: 850px;
    width: 100%;
    background: #444444;
    box-shadow: 20px 40px 100px 0px rgba(0,0,0,0.25);
    color: #ffffff;
    padding: 40px;
    margin: 0 auto;
}

.slide6-a {
	padding-right: 30%;
}

.slide6-a img {
	width: 80px;
	display: block;
	margin-bottom: 20px;
}

.slide6-a p {
	color: #d9d9d9;
	margin-top: 10px;
    font-size: 90%;
    line-height: 1.4;

}

.slide6-a span {
	font-size: 1.5em;
	line-height: 120%;

}

.slide6-a a {
	background: #FBFBFB;
    box-shadow: 0px 2px 4px 0px rgba(42,42,42,0.50);
    line-height: 30px;
    text-transform: uppercase;
    font-size: 11px;
    color: #444444;
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 3px;
    max-width: 350px;
}

.slide6-a a:hover {
	opacity: .8;
}

.slide6-b {
	width: 32%;
    background-color: #35B5B4;
    position: absolute;
    top: 40px;
    right: -20px;
    text-align: right;
    padding: 20px;
}

.triangle-shadow {
	border-color: transparent transparent transparent #298585;
    border-style: solid;
    border-width: 20px;
    height: 0px;
    width: 0px;
    position: absolute;
    right: -20px;
    z-index: -1;
}

#inc {
    font-weight: 900;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#inc-text {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#inc-years {
	font-weight: 600;
    font-size: 10px;
    margin-bottom: 0;
}

/*5th SECTION*/

.fifth-section {
    max-width: 100%;
    padding: 10% 0 8%;
    background-color: #fff;
    z-index: 851;

}

/*SLIDE 7*/

.slide7 {
    margin: 0 auto;
    text-align: center;
    color: #6D6D6D;
    z-index: 849;

 }

.slide7-header {
	max-width: 800px;
    font-size: 1em;
    margin: 0 auto;
}

.slide7-header img {
	width: 75px;
}

.slide7 h4 {
	text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 0;
    font-size: 1.5em;
    color: #6D6D6D;
}

 .slide7 form {
    padding: 40px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

 }

 .slide7 input {
    width: 48%;
    line-height: 30px;
    float: left;
    margin: 5px;
    padding: 5px 5px 5px 15px;
    border: 0;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: 4px;
    background-color: #f5f5f5;
 }

.slide7 input:focus {
    background-color: #eaeaea;

}

.slide7 select {
    width: 48%;
    border: 0;
    height: 40px;
    margin: 5px;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: 4px;
    background-color: #f5f5f5;
    float: left;
    border-radius: 0px;
}

 .slide7 textarea {
    width: 97%;
    height: 100px;
    padding: 10px;
    margin: 5px;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: 4px;
    background-color: #f5f5f5;
    border: 0;
    float: left;
 }

.slide7 textarea:focus {
    background-color: #eaeaea;
}

 .slide7 button {
    text-align: center;
    border: 0;
    border-radius: 3px;
    background-color: #2E9E9E;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 70px;
    letter-spacing: 4px;
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
 }

 .slide7 button:hover {
    opacity: .7;
 }

.captcha-container {

    display: inline-block;
    padding-top: 20px;
}


.to-top {
    display: block;
	text-align: center;
    width: 70px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.to-top img {
	width: 70px;
    opacity: .5;
    margin-bottom: -10px;
}

.to-top span {
	text-transform: uppercase;
    color: #cecece;
    font-weight: 700;
    font-size: 14px;
}

/*PRIVACY SECTION */

.privacy-section {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 2rem;
}

.privacy {
    color: #808080;
}

.privacy-bg {
    position: fixed;
    z-index: -10;
}

#banner-privacy {
    background-color: #444444;
    position: relative;
}

#privacy-title {
    margin-bottom: 40px;
}

.privacy h4 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.2em;
}

.privacy p {
    font-size: .9em;
    color: #9e9e9e;
}

.contact-info {
    display: block;
}

/*FOOTER SECTION*/

.footer-nav {
    background-color: #444444;
    color: white;
    padding: 20px 90px;
    font-size: 15px;
    display: inline-block;
    width: 100%;
    border-top: 5px solid #22B5B4;
    z-index: 1500;
    margin-bottom: -10px;
}

.clickcast {
    width: 65px;
    float: right;
    margin-top: 15px;
    margin-left: 40px;
}

.footer-info {
	display: block;
    float: left;
    margin-top: 20px;
}

.footer-info-2 {
	width: 200px;
	float: left;
	text-align: left;
    font-size: 1em;
}

.footer-logo {
    width: 140px;
    padding-right: 20px;
    margin-right: 20px;
    float: left;
}

.footer-info-2 span {
    opacity: .7;

}

footer ul  {
	list-style: none;
    float: right;
    font-size: 12px;
    text-transform: uppercase;
}

footer li {
	display: inline-block;
    line-height: 100px;
    padding: 0 .5rem;
    font-weight: bold;
    cursor: pointer;
}

footer a {
    color: #fff;
    cursor: pointer;
}

footer a:hover {
    opacity: .7;
}

.privacy-mobile {
    display: none;

}
